%ol
  -@list.each do |url|
    %li 
      #{url.url}
      -if (url.opcional == ' ')
        %a{:href=>"/#{url.id.to_s(Base)}"} (#{url.id.to_s(Base)}
      -else
        %a{:href=>"/#{url.id.to_s(Base)}"} (#{url.opcional})